<a href="https://colab.research.google.com/github/Sujal-vajire/EDA/blob/main/DateSringToDateInt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd

df = pd.read_csv('Date.csv')

df

            Date
0    2010-01-01
1    2010-01-02
2    2010-01-03
3    2010-01-04
4    2010-01-05
..           ...
385  2022-01-26
386  2022-01-27
387  2022-01-28
388  2022-01-29
389  2022-01-30

[390 rows x 1 columns]

In [17]:
df['Date']

0      2010-01-01
1      2010-01-02
2      2010-01-03
3      2010-01-04
4      2010-01-05
          ...
385    2022-01-26
386    2022-01-27
387    2022-01-28
388    2022-01-29
389    2022-01-30
Name: Date, Length: 390, dtype: object

# As you can see The Data Type is **Object**

In [18]:
import datetime

def str_to_datetime(s):
  split = s.split('-')
  year, month, day = int(split[0]), int(split[1]), int(split[2])
  return datetime.datetime(year=year, month=month, day=day)

datetime_object = str_to_datetime('2022-04-29')
datetime_object

datetime.datetime(2022, 4, 29, 0, 0)

In [19]:
df['Date'] = df['Date'].apply(str_to_datetime)
df['Date']

0     2010-01-01
1     2010-01-02
2     2010-01-03
3     2010-01-04
4     2010-01-05
         ...
385   2022-01-26
386   2022-01-27
387   2022-01-28
388   2022-01-29
389   2022-01-30
Name: Date, Length: 390, dtype: datetime64[ns]

# Now The Data Type is **DateTime**

In [20]:
df.index = df.pop('Date')
df

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00, 2010-01-06 00:00:00, 2010-01-07 00:00:00, 2010-01-08 00:00:00, 2010-01-09 00:00:00, 2010-01-10 00:00:00, 2010-01-11 00:00:00, 2010-01-12 00:00:00, 2010-01-13 00:00:00, 2010-01-14 00:00:00, 2010-01-15 00:00:00, 2010-01-16 00:00:00, 2010-01-17 00:00:00, 2010-01-18 00:00:00, 2010-01-19 00:00:00, 2010-01-20 00:00:00, 2010-01-21 00:00:00, 2010-01-22 00:00:00, 2010-01-23 00:00:00, 2010-01-24 00:00:00, 2010-01-25 00:00:00, 2010-01-26 00:00:00, 2010-01-27 00:00:00, 2010-01-28 00:00:00, 2010-01-29 00:00:00, 2010-01-30 00:00:00, 2011-01-01 00:00:00, 2011-01-02 00:00:00, 2011-01-03 00:00:00, 2011-01-04 00:00:00, 2011-01-05 00:00:00, 2011-01-06 00:00:00, 2011-01-07 00:00:00, 2011-01-08 00:00:00, 2011-01-09 00:00:00, 2011-01-10 00:00:00, 2011-01-11 00:00:00, 2011-01-12 00:00:00, 2011-01-13 00:00:00, 2011-01-14 00:00:00, 2011-01-15 00:00:00, 2011-01-16 00:00:00, 2011-01-17 00:00:00, 2011-01-18 00:00:00, 2011-01-19 00:00:00, 2011-01-20 00:00:00, 2011-01-21 00:00:00, 2011-01-22 00:00:00, 2011-01-23 00:00:00, 2011-01-24 00:00:00, 2011-01-25 00:00:00, 2011-01-26 00:00:00, 2011-01-27 00:00:00, 2011-01-28 00:00:00, 2011-01-29 00:00:00, 2011-01-30 00:00:00, 2012-01-01 00:00:00, 2012-01-02 00:00:00, 2012-01-03 00:00:00, 2012-01-04 00:00:00, 2012-01-05 00:00:00, 2012-01-06 00:00:00, 2012-01-07 00:00:00, 2012-01-08 00:00:00, 2012-01-09 00:00:00, 2012-01-10 00:00:00, 2012-01-11 00:00:00, 2012-01-12 00:00:00, 2012-01-13 00:00:00, 2012-01-14 00:00:00, 2012-01-15 00:00:00, 2012-01-16 00:00:00, 2012-01-17 00:00:00, 2012-01-18 00:00:00, 2012-01-19 00:00:00, 2012-01-20 00:00:00, 2012-01-21 00:00:00, 2012-01-22 00:00:00, 2012-01-23 00:00:00, 2012-01-24 00:00:00, 2012-01-25 00:00:00, 2012-01-26 00:00:00, 2012-01-27 00:00:00, 2012-01-28 00:00:00, 2012-01-29 00:00:00, 2012-01-30 00:00:00, 2013-01-01 00:00:00, 2013-01-02 00:00:00, 2013-01-03 00:00:00, 2013-01-04 00:00:00, 2013-01-05 00:00:00, 2013-01-06 00:00:00, 2013-01-07 00:00:00, 2013-01-08 00:00:00, 2013-01-09 00:00:00, 2013-01-10 00:00:00, ...]

[390 rows x 0 columns]